<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.redtop.engaze" >

    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".app.AppContext"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/NoActionBarDialog" >
        <activity
            android:name=".FullscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_fullscreen"
            android:theme="@style/FullscreenTheme" >
        </activity>
        <activity
            android:name=".MobileNumberVerificationActivity"
            android:label="@string/title_activity_login_message"
            android:noHistory="false"
            android:screenOrientation="fullSensor"
            android:windowSoftInputMode="stateVisible"
            android:theme="@style/ETMaterialTheme">
        </activity>

        <activity
            android:name="ProfileActivity"
            android:label="@string/title_activity_login_message"
            android:noHistory="true"
            android:screenOrientation="locked"
            android:theme="@style/ETMaterialTheme">
        </activity>
        <activity
            android:name="EULAActivity"
            android:screenOrientation="locked"
            android:theme="@style/ETMaterialTheme">
        </activity>
        <activity
            android:name="PrivacyPolicyActivity"
            android:screenOrientation="locked"
            android:theme="@style/ETMaterialTheme">
        </activity>
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:largeHeap="true"
            android:noHistory="true"
            android:theme="@style/ETMaterialTheme"
            android:screenOrientation="fullSensor" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>